body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.container {
    display: grid;
    grid-template: 1fr 5fr / 1fr 4fr;
    grid-template-areas: 
    "sidebar header"
    "sidebar content";
}

.sidebar {
    grid-area: sidebar;
    display: grid;
    grid-template-rows: repeat(3, min-content);
    background-color: #e11d48;
    color: white;
    font-family: sans-serif;
}

.sidebar ul {
    font-size: 1.5em;
    padding-left: 3em;
    display: grid;
    align-items: center;
    gap: 20px;
    padding-bottom: 20px;
    list-style: none;
}

.sidebar ul li {
    display: grid;
    grid-template-columns: repeat(2, min-content);
    align-items: center;
    gap: 5px;
}
.sidebar ul img {
    width: 1em;
    filter: invert(100%) sepia(0%) saturate(18%) hue-rotate(39deg) brightness(107%) contrast(104%);
}

.logo {
    display: grid;
    grid-template-columns: repeat(2, min-content);
    align-items: center;
    padding: 20px;
    gap: 10px;
}

.logo > img {
    width: 4em;
    filter: invert(100%) sepia(0%) saturate(18%) hue-rotate(39deg) brightness(107%) contrast(104%);
}

.header {
    grid-area: header;
    background-color: #fff1f2;
}

.upperHeader {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.upperHeader img[src$=".svg"] {
    width: 2em;
}

.upperHeader input {
    background-color: lightgray;
    border: none;
    border-radius: 15px;
    height: 2em;
    width: 30vw;
}

.searchArea {
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-self: center;
}

.upperHeader .searchArea img[src$=".svg"] {
    width: 2em;
    justify-self: center;
}

.lowerHeader {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.lowerHeader {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.search {
    justify-self: center;
    align-self: center;
}

.profile {
    display: grid;
    grid-template-columns: repeat(3, min-content);
    text-wrap: nowrap;
    gap: 2em;
    padding-right: 4em;
    align-items: center;
}

@media (max-width: 1028px) {
    .upperHeader {
        justify-content: center;
    }
    .profile {
        padding-right: 0em;
    }
  }

.profile img {
    width: 4em;
    border-radius: 50%;
}

.welcome {
    display: grid;
    grid-template-rows: min-content min-content;
}

.welcome > p,
.welcome > h1 {
    margin: 0;
}

.headerButtons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    align-items: center;
}

.content {
    grid-area: content;
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color: #fda4af;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.rightContent {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}